body {
    font-family: roboto, sans-serif;
}

Header {
    display: flex;
    flex-direction: column;
}

Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.menu {
    display: flex;
    gap: 10px 10px;
    text-align: center;
}

.border-white{
    border: white solid 2px;
}

.border-lightskyblue{
    border: lightskyblue solid 2px;
}

.hero {
    display: flex;
    gap: 10px 10px;
    padding: 80px 0px;
}

.hero-image {
    object-fit: cover;
    height: 250px;
    width: 700px;
}

.hero-content {
    flex: 1 1 auto;
}

.hero-image-container {
    width: 700px;
    height: inherit;
    flex: 2 1 auto;
}

.btn {
    font-size: 18px;
    font-weight: 800;
    padding: 10px 30px;
    border-radius: 10px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.information-content {
    display: flex;
    align-items: center;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-content {
    text-align: center;
    width: 200px;
}

.card-image-container, .card-image-container img {
    width: 200px;
    height: 300px;
}

.card-image-container img {
    object-fit: cover;
    border-radius: 20px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-p-1 {
    align-self: flex-start;
}

.quote-p-2 {
    align-self: flex-end;
    font-size: 24px;
}

.contact {
    display: flex;
    gap: 24px;
    padding: 24px 0px;
    justify-content: space-around;
}

.contact-content {
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 24px;
}

.contact-button {
    padding: 48px;
}


/* This is for setting the background and text style */
.dark-background {
    background-color: #1f2937;
}

.text-color-white {
    color: white;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text {
    font-size: 24px;
}

.header-logo-text, .hero-main-text {
    color: #f9faf8;
}

.light-blueish-background {
    background-color: #3882f6;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.light-greyish-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.px-128px {
    padding-left: 128px;
    padding-right: 128px;
}

.py-48px {
    padding-top: 48px;
    padding-bottom: 48px;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}