body {
    font-family: sans-serif;
}

Header {
    display: flex;
    flex-direction: column;
}

Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.menu {
    display: flex;
    gap: 10px 10px;
    text-align: center;
}

/* .border-white{
    border: white solid 2px;
} */

.hero {
    display: flex;
    gap: 10px 10px;
    padding: 80px 0px;
}

.hero-image {
    width: 600px;
    height: auto;
    flex: 2 1 auto;
}

.hero-content {
    flex: 1 1 auto;
}


/* This is for setting the background and text style */
.dark-background {
    background-color: #1f2937;
}

.text-color-white {
    color: white;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text, .header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo-text {
    font-size: 24px;
}

.header-logo-text, .hero-main-text {
    color: #f9faf8;
}

.light-blueish-background {
    background-color: #3882f6;
}

.information-header-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.light-greyish-background {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.px-48px {
    padding: 0px 128px;
}